<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-uppercase" href="/">
    <%= fa_icon "road", text: "Rmall" %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= fa_icon "user", text: "#{current_user.name}" %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to fa_icon("sign-out", text: "Logout"), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to fa_icon("edit", text: "Edit profile"), edit_user_registration_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to fa_icon("user-plus", text: "Signup"), new_user_registration_path, class: "nav-link btn btn-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to fa_icon("sign-in", text: "Login"), new_user_session_path, class: "nav-link btn btn-dark ml-2" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
