<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand text-uppercase btn btn-dark" href="/">
      <%= fa_icon "road", text: "Rmall" %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Products", products_path, class: "nav-link btn btn-dark" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item m-auto">
          <%= link_to '#', class: "nav-link btn btn-dark py-0 mr-5" do %>
            <%= fa_icon("shopping-cart", class: "fa-2x") %>
            <span class="badge badge-danger align-top">
              <%= current_cart.products.count %>
            </span>
          <% end %>
        </li>
        <% if current_user && current_user.is_admin %>
          <li class="nav-item">
            <%= link_to "Admin panel", admin_products_path, class: "nav-link btn btn-dark" %>
          </li>
        <% end %>
        <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= fa_icon "user", text: "#{current_user.name}" %>
            </a>
            <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdown">
              <%= link_to fa_icon("edit", text: "Edit profile"), edit_user_registration_path, class: "dropdown-item text-white bg-dark" %>
              <div class="dropdown-divider"></div>
              <%= link_to fa_icon("sign-out", text: "Logout"), destroy_user_session_path, method: :delete, class: "dropdown-item text-white bg-dark" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to fa_icon("user-plus", text: "Signup"), new_user_registration_path, class: "nav-link btn btn-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to fa_icon("sign-in", text: "Login"), new_user_session_path, class: "nav-link btn btn-dark ml-2" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
