<div class="row mt-3">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag @product.image.medium.url, class: "img-thumbnail mx-auto d-block" %>
    <% else %>
      <%= image_tag "http://via.placeholder.com/400x400?text='NO+Pic'", class: "img-thumbnail mx-auto d-block" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2><%= @product.title %></h2>
    <p><%= simple_format @product.description %></p>
    <div>
      数量： <%= @product.quantity %>
    </div>
    <div class="text-danger">
      ¥ <%= @product.price %>
    </div>
    <div class="text-right">
      <%= link_to "加入购物车", '#', class: "btn btn-danger btn-lg disabled" %>
    </div>
  </div>
  <div class="mx-auto d-block mt-5">
    <%= link_to "Back to products", admin_products_path, class: "btn btn-light" %>
    <%= link_to "Edit", edit_admin_product_path(@product), class: "btn btn-dark" %>
    <%= link_to "Delete", admin_product_path(@product), method: :delete, class: "btn btn-danger" %>
  </div>
</div>
