<% provide(:title, "Admin products show") %>

<div class="row">
  <div class="col-md-6 mt-3">
    <% if @product.image.present? %>
      <%= image_tag @product.image.medium.url, class: "img-thumbnail mx-auto d-block" %>
    <% else %>
      <%= image_tag "http://via.placeholder.com/400x400?text='NO+Pic'", class: "img-thumbnail mx-auto d-block" %>
    <% end %>
  </div>

  <div class="col-md-6 mt-3">
    <h2 class="text-center"><%= @product.title %></h2>
    <p><%= simple_format @product.description %></p>
    <div class="text-danger bg-light p-2 my-2">
      ¥ <%= @product.price %>
    </div>
    <div>
      数量： <%= @product.quantity %>
    </div>

    <hr>

    <div class="text-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to "加入购物车", add_to_cart_product_path(@product), method: :post, class: "btn btn-danger btn-lg" %>
      <% else %>
        已销售一空，无法购买！
      <% end %>
    </div>
  </div>
</div>

<div class="text-center my-5">
  <%= link_to "Back to products", admin_products_path, class: "btn btn-light" %>
  <%= link_to "Edit", edit_admin_product_path(@product), class: "btn btn-dark" %>
  <%= link_to "Delete", admin_product_path(@product), method: :delete, class: "btn btn-danger" %>
</div>
