<div class="col-md-3 col-sm-4 my-3 d-flex">
  <div class="card product-cart col p-0">
    <%= link_to product_path(product) do %>
      <% if product.image.present? %>
        <%= image_tag product.image.thumb.url, class: "card-img-top" %>
      <% else %>
        <%= image_tag "http://via.placeholder.com/200x150?text=No+Pic", class: "card-img-top" %>
      <% end %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title text-center"><%= product.title %></h5>
      <p class="card-text text-center">
        <%= product.description.truncate(27, separator: ' ') %>
      </p>
    </div>
    <div class="card-footer text-center">
      <small class="text-danger">¥ <%= product.price %></small>
    </div>
  </div>
</div>
