<div class="row mt-3">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag @product.image.medium.url, class: "img-thumbnail mx-auto d-block" %>
    <% else %>
      <%= image_tag "http://via.placeholder.com/400x400?text='NO+Pic'", class: "img-thumbnail mx-auto d-block" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2 class="text-center"><%= @product.title %></h2>
    <p><%= simple_format @product.description %></p>
    <div class="text-danger bg-light p-2 my-2">
      ¥ <%= @product.price %>
    </div>
    <div>
      数量： <%= @product.quantity %>
    </div>

    <hr>

    <div class="text-right">
      <%= link_to "加入购物车", '#', class: "btn btn-danger btn-lg" %>
    </div>
  </div>
</div>
