<!DOCTYPE html>
<html>
  <head>
    <title>Rmall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "favicon.ico"%>
  </head>

  <body>
    <%= render "shared/admin_navbar" %>

    <div class="container-fluid">
      <%= render "shared/flashes" %>
      <div class="row">
        <div class="col-md-2">
          <div class="list-group mt-5">
            <%= link_to "Products", admin_products_path, class: "list-group-item list-group-item-action #{ active_class(admin_products_path) }" %>
            <%= link_to "link", '#', class: "list-group-item list-group-item-action" %>
            <%= link_to "other link", '#', class: "list-group-item list-group-item-action" %>
          </div>
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
